{% extends 'signBase.html' %}
{% load static %}
{% block signcontent %}
<body class="text-center">
    <form class="form-signin" method="POST" action="">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Password reset</h1>
        <br>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="Password"
                required>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Confirm Password</label>
            <input type="password" id="id_new_password2" name="new_password2" class="form-control"
                placeholder="Confirm Password" required>
        </div>

        <button class="btn btn-lg btn-secondary btn-block" id="btn-click" type="submit">Passward reset</button>
        
    </form>
</body>
{% endblock %}