<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="frm" method="post" class="sign-in-form">
        {%csrf_token%}
        <div>
            구글 ID
            <input type="text" class="form-control" placeholder="google ID" id="google_id" name="google_id" required
                autofocus>

            <input type="hidden" class="form-control" id="email" name="{{ form.email.html_name }}" required>
        </div>
        <div>
            <br>
            <button type="button" onclick="goData()" class="form-control btn btn-primary">이메일 발송</button>
        </div>
    </form>


    <script>

        function goData() {
            var form = document.getElementById("frm");
            form.email.value = form.google_id.value;
            form.submit();
        }

    </script>

</body>

</html>