{% extends 'signBase.html' %}
{% load static %}
{% block signcontent %}
<body class="text-center">
    <form class="form-signin" method="POST" action="{% url 'signup'%}">
        {%csrf_token%}
        {% if messages %}
        <div class="alert alert-light alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <strong>{{ message.message }}</strong>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <svg width="72" height="72" viewBox="0 0 16 16" class="bi bi-arrow-down-square" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path fill-rule="evenodd"
                d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z" />
            <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z" />
        </svg>
        <br>
        <br>
        <img class="mb-4" src="#" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">COVID-19-REPORT</h1>
        <br>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="email" required>
            <code class="d-flex justify-content-start my-2 ml-2">Email을 사용하여 비밀번호를 초기화 합니다.</code>
        </div>
        <div class="form-group">
            <label for="text" class="sr-only">Login Id</label>
            <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Login id" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password1" class="form-control" placeholder="Password"
                required>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Confirm Password</label>
            <input type="password" id="inputPassword" name="password2" class="form-control"
                placeholder="Confirm Password" required>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline d-flex justify-content-start">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="inlineCheckbox1" value="1">
                <label class="form-check-label" for="inlineCheckbox1">
                    <a href="javascript:doDisplay();">개인 정보 수집 동의</a>
                </label>
            </div>
            <div class="d-flex justify-content-start">
                <div id="myDiv" style="display: none;">
                    <code>
                        <br>
                        제15조(개인정보의 수집ㆍ이용) ① 개인정보처리자는 다음 각 호의 어느 하나에 해당하는 경우에는 개인정보를 수집할 수 있으며 그 수집 목적의 범위에서 이용할 수 있다.
                        <br>
                        1. 정보주체의 동의를 받은 경우
                        <br>
                        2. 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우
                        <br>
                        3. 공공기관이 법령 등에서 정하는 소관 업무의 수행을 위하여 불가피한 경우
                        <br>
                        4. 정보주체와의 계약의 체결 및 이행을 위하여 불가피하게 필요한 경우
                        <br>
                        5. 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우
                        <br>
                        6. 개인정보처리자의 정당한 이익을 달성하기 위하여 필요한 경우로서 명백하게 정보주체의 권리보다 우선하는 경우. 이 경우 개인정보처리자의 정당한 이익과 상당한 관련이 있고 합리적인 범위를 초과하지 아니하는 경우에 한한다.
                        <br>
                        ② 개인정보처리자는 제1항제1호에 따른 동의를 받을 때에는 다음 각 호의 사항을 정보주체에게 알려야 한다. 다음 각 호의 어느 하나의 사항을 변경하는 경우에도 이를 알리고 동의를 받아야 한다.
                        <br>
                        1. 개인정보의 수집ㆍ이용 목적
                        <br>
                        2. 수집하려는 개인정보의 항목
                        <br>
                        3. 개인정보의 보유 및 이용 기간
                        <br>
                        4. 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익이 있는 경우에는 그 불이익의 내용
                        <br>
                        ③ 개인정보처리자는 당초 수집 목적과 합리적으로 관련된 범위에서 정보주체에게 불이익이 발생하는지 여부, 암호화 등 안전성 확보에 필요한 조치를 하였는지 여부 등을 고려하여 대통령령으로 정하는 바에 따라 정보주체의 동의 없이 개인정보를 이용할 수 있다.  <신설 2020. 2. 4.>
                        <br>
                        ​<br>
                        <br>
                        제30조(개인정보 처리방침의 수립 및 공개) ① 개인정보처리자는 다음 각 호의 사항이 포함된 개인정보의 처리 방침(이하 "개인정보 처리방침"이라 한다)을 정하여야 한다. 이 경우 공공기관은 제32조에 따라 등록대상이 되는 개인정보파일에 대하여 개인정보 처리방침을 정한다.  <개정 2016. 3. 29., 2020. 2. 4.>
                        <br>
                        1. 개인정보의 처리 목적
                        <br>
                        2. 개인정보의 처리 및 보유 기간
                        <br>
                        3. 개인정보의 제3자 제공에 관한 사항(해당되는 경우에만 정한다)
                        <br>
                        3의2. 개인정보의 파기절차 및 파기방법(제21조제1항 단서에 따라 개인정보를 보존하여야 하는 경우에는 그 보존근거와 보존하는 개인정보 항목을 포함한다)
                        <br>
                        4. 개인정보처리의 위탁에 관한 사항(해당되는 경우에만 정한다)
                        <br>
                        5. 정보주체와 법정대리인의 권리ㆍ의무 및 그 행사방법에 관한 사항
                        <br>
                        6. 제31조에 따른 개인정보 보호책임자의 성명 또는 개인정보 보호업무 및 관련 고충사항을 처리하는 부서의 명칭과 전화번호 등 연락처
                        <br>
                        7. 인터넷 접속정보파일 등 개인정보를 자동으로 수집하는 장치의 설치ㆍ운영 및 그 거부에 관한 사항(해당하는 경우에만 정한다)
                        <br>
                        8. 그 밖에 개인정보의 처리에 관하여 대통령령으로 정한 사항
                        <br>
                        ② 개인정보처리자가 개인정보 처리방침을 수립하거나 변경하는 경우에는 정보주체가 쉽게 확인할 수 있도록 대통령령으로 정하는 방법에 따라 공개하여야 한다.
                        <br>
                        ③ 개인정보 처리방침의 내용과 개인정보처리자와 정보주체 간에 체결한 계약의 내용이 다른 경우에는 정보주체에게 유리한 것을 적용한다.
                        <br>
                        ④ 보호위원회는 개인정보 처리방침의 작성지침을 정하여 개인정보처리자에게 그 준수를 권장할 수 있다.  
                        <br>
                        <개정 2013. 3. 23., 2014. 11. 19., 2017. 7. 26., 2020. 2. 4.>
                        <br>
                        






                    </code>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline d-flex justify-content-start">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="inlineCheckbox2" value="1">
                <label class="form-check-label" for="inlineCheckbox1">
                    <a href="javascript:doDisplay2();">위치 정보 수집 동의</a>
                </label>
            </div>
            <div class="d-flex justify-content-start">
                <div id="myDiv2" style="display: none;">
                    <code>web 브라우저의 위치를 받아 이용자의 동선을 저장하기 위해 사용합니다.</code>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-lg btn-secondary btn-block" id="btn-click" type="submit" onclick="javascript_onclikc()">Sign up</button>
        <hr>
        <a class="btn btn-lg btn-secondary btn-block" href="{% url 'signin' %}">Back</a>
        <p class="mt-5 mb-3 text-muted font-weight-lighter">&copy; 2020. <a
                href="https://www.instagram.com/integer_ji/">IntegerJi</a> all rights reserved.</p>
    </form>
</body>

<script type="text/javascript">
    var dDisplay = true;
    function doDisplay() {
        var con = document.getElementById("myDiv");
        if (con.style.display == 'block') {
            con.style.display = 'none';
        } else {
            con.style.display = 'block';
        }
    }
    function doDisplay2() {
        var con = document.getElementById("myDiv2");
        if (con.style.display == 'block') {
            con.style.display = 'none';
        } else {
            con.style.display = 'block';
        }
    }

    function javascript_onclikc() {
        if (document.getElementById("inlineCheckbox1").checked == false) {
            alert('개인 정보 수집 동의에 체크해 주세요.');
            return false;
        } else if (document.getElementById("inlineCheckbox2").checked == false) {
            alert('위치 정보 수집 동의에 체크해 주세요.');
            return false;
        }
    }

</script>

{% endblock %}