{% extends 'signBase.html' %}
{% load static %}
{% block signcontent %}
<body class="text-center">
    <form class="form-signin" method="POST" action="{% url 'signup'%}">
        {%csrf_token%}
        {% if messages %}
        <div class="alert alert-light alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <strong>{{ message.message }}</strong>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <svg width="72" height="72" viewBox="0 0 16 16" class="bi bi-arrow-down-square" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path fill-rule="evenodd"
                d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z" />
            <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z" />
        </svg>
        <br>
        <br>
        <img class="mb-4" src="#" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">COVID-19-REPORT</h1>
        <br>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="email" required>
            <code class="d-flex justify-content-start my-2 ml-2">Email을 사용하여 비밀번호를 초기화 합니다.</code>
        </div>
        <div class="form-group">
            <label for="text" class="sr-only">Login Id</label>
            <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Login id" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password1" class="form-control" placeholder="Password"
                required>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Confirm Password</label>
            <input type="password" id="inputPassword" name="password2" class="form-control"
                placeholder="Confirm Password" required>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline d-flex justify-content-start">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="inlineCheckbox1" value="1">
                <label class="form-check-label" for="inlineCheckbox1">
                    <a href="javascript:doDisplay();">개인 정보 수집 동의</a>
                </label>
            </div>
            <div class="d-flex justify-content-start">
                <div id="myDiv" style="display: none;">
                    <code>Email의 수집 이유는 비밀번호 초기화를 위해 사용합니다.</code>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline d-flex justify-content-start">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="inlineCheckbox2" value="1">
                <label class="form-check-label" for="inlineCheckbox1">
                    <a href="javascript:doDisplay2();">위치 정보 수집 동의</a>
                </label>
            </div>
            <div class="d-flex justify-content-start">
                <div id="myDiv2" style="display: none;">
                    <code>web 브라우저의 위치를 받아 이용자의 동선을 저장하기 위해 사용합니다.</code>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-lg btn-secondary btn-block" id="btn-click" type="submit" onclick="javascript_onclikc()">Sign up</button>
        <hr>
        <a class="btn btn-lg btn-secondary btn-block" href="{% url 'signin' %}">Back</a>
        <p class="mt-5 mb-3 text-muted font-weight-lighter">&copy; 2020. <a
                href="https://www.instagram.com/integer_ji/">IntegerJi</a> all rights reserved.</p>
    </form>
</body>

<script type="text/javascript">
    var dDisplay = true;
    function doDisplay() {
        var con = document.getElementById("myDiv");
        if (con.style.display == 'block') {
            con.style.display = 'none';
        } else {
            con.style.display = 'block';
        }
    }
    function doDisplay2() {
        var con = document.getElementById("myDiv2");
        if (con.style.display == 'block') {
            con.style.display = 'none';
        } else {
            con.style.display = 'block';
        }
    }

    function javascript_onclikc() {
        if (document.getElementById("inlineCheckbox1").checked == false) {
            alert('개인 정보 수집 동의에 체크해 주세요.');
            return false;
        } else if (document.getElementById("inlineCheckbox2").checked == false) {
            alert('위치 정보 수집 동의에 체크해 주세요.');
            return false;
        }
    }

</script>

{% endblock %}