<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <a href="javascript:doDisplay();">열려라</a>
    <div id="myDiv" style="display: none;">
        <li>년도</li>
        <li>월</li>
        <li>일</li>
    </div>

    <script type="text/javascript">
        var dDisplay = true;
        function doDisplay() {
            var con = document.getElementById("myDiv");
            if (con.style.display == 'block') {
                con.style.display = 'none';
            } else {
                con.style.display = 'block';
            }
        }
    </script>

</body>

</html>