{% extends 'mainBase.html' %}
{% load static %}
{% block maincontent %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand"></h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
          <a class="nav-link active" href="{% url 'list' %}">List</a>
          <a class="nav-link" href="{% url 'signout' %}">Sign out</a>
        </nav>
      </div>
    </header>
    <main role="main" class="inner cover">
      <h1 class="cover-heading">모든 경로</h1>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">위치</th>
            <th scope="col">위도</th>
            <th scope="col">경도</th>
            <th scope="col">날짜</th>
          </tr>
        </thead>
        <tbody>
          {% for report in report.all %}
          <tr>
            <td>{{ report.input_report }}</td>
            <td>{{ report.input_lat }}</td>
            <td>{{ report.input_lon }}</td>
            <td>{{ report.input_date }} {{ report.input_time }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p class="text-muted font-weight-lighter">&copy; 2020. <a
            href="https://www.instagram.com/integer_ji/">IntegerJi</a> all rights reserved.</p>
      </div>
    </footer>
  </div>
</body>
{% endblock %}